<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="centered">
    <% for (let product of prods) { %>
    <div class="centered-div">
      <h1>Title: <%= product.productData.title %></h1>
      <h2>Price: <%= product.productData.price %></h2>
      <p>Description: <%= product.productData.description %></p>
      <p>Quantity: <%= product.quantity%></p>
      <form action="/cart-delete-item" method="post">
        <button type="submit" class="btn">Delete</button>
        <input type="hidden" name="productId" value="<%= product.productData.id%>">
        <input type="hidden" name="productPrice" value="<%= product.productData.price%>">
      </form>
    </div>

    <% } %>
  </main>

  <%- include('../includes/end.ejs') %>